name: Deploy to Development

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Easypanel Deploy
        run: |
          curl -X POST "${{ secrets.EASYPANEL_DEV_WEBHOOK_URL }}"
